
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.social-call{
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a{
    margin: 0px 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}

.phone{
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo img{
    width: 40px;
    margin-left: 35px;
}

.menu{
    display: flex;
    
}

.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a{
    color: #555555;
}

.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
    margin-left: -4%;
    padding-right: 10px;
    margin: 3px;
}

.menu a:hover,
.right-menu a:hover,
.search-cancle:hover,
.form-cancle:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}

.fa-shopping-cart{
    position: relative;
}

.num-cart-product{
    position: absolute;
    color: #fff;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-bar{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
}

.search-input{
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px;
}

.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-cancle{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-bar{
    display: none;
}

.search-bar-active{
    display: flex;
}

@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}

.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}

.login-form,
.signup-form{
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form form,
.signup-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.signup-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.login-form input,
.signup-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.signup-form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.signup-form input[type="submit"]{
    background-color: #0b9d8a;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form-btn{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btn a{
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px;
}

.form-cancle{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}

.login-form,
.signup-form,
.form{
    display: none;
}

.login-active,
.login-active .login-form{
    display: flex;
    animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .signup-form{
    display: flex;
    animation: fade 0.3s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.full-slider-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.f-slide-1{
    background-image: url(../images/slider.jpg);
}

.f-slide-2{
    background-image: url(../images/slider2.jpg);
}

.f-slide-3{
    background-image: url(../images/slider3.jpg);
}
.slider-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong{
    color: #fff;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
    font-size: 1.2rem;
}

.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}

.f-slider-text strong font{
    color: aqua;
}


.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-heading h2{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.feature-box{
    width:155px;
    height: 160px;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
}
.feature-box a img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.item span{
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#autoWidth{
    display: flex;
    justify-content: center !important;
    margin: 10px auto 40px auto;
}


.arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.arrival-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-box{
    width:100%;
     height: 40vh;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
.banner-text-container{
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
}
 
.banner-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
 
.banner-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}
 
.banner-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}
 
.banner-btn{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}
.banner-text strong font{
    color: #0b9d8a;
}
 

.services{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
}
.services-box i{
    color: #0b9d8a;
    font-size: 2rem;
    margin: 15px;
}
.services-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.services-box p{
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    flex-wrap: wrap;
    margin-top: 20px;
}
.copyright{
    font-size: 0.9rem;
    color: #4e4e4e;
    letter-spacing: 1px;
}
.subscribe input{
    width:240px;
    height: 43px;
    padding: 0px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
}
.subscribe input[type="submit"]{
    width:120px;
    background-color: #0b9d8a;
    color: #ffffff;
    margin: 0px 5px;
}


.fix-nav{
    width:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 102;
}

.toggle{
    display: none;
}

/* MAking Responsive */
@media(max-width:1010px){
    nav{
        position: relative;
    }
    .navigation{
        height: 80px;
    }
    .fix-nav{
        height: 80px;
    }
    .menu{
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #ffffff;
        border-bottom: 4px solid #0b9d8a;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        flex-direction: column;
        display: none;
 
    }
    .fix-nav .menu{
        top: 80px;
    }
    .menu li{
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width:100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0,0,0,0.03);
    }
    .sale-lable{
        display: none;
    }
    .toggle{
        display: block;
        margin-left: 6%;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    .toggle.active:before{
        content: '\f00d';
    }
    .navigation.active .menu{
        display: block;
    }
    .full-slider-box,
    .banner-box{
        height: 45vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.9rem;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 2rem;
        line-height: 40px;
    }
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
    .sale-box{
        height: 200px;
    }
}
@media(max-width:600px){
    .navigation{
        padding: 10px;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 1.2rem;
        line-height: 25px;
    }
    .full-slider-box,
    .banner-box{
        height: 30vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.8rem;
    }
    .f-slider-btn,
    .banner-btn{
        width:120px;
        height: 30px;
        font-size: 0.8rem;
    }
    .feature-heading h2{
        font-size: 1.2rem;
    }
    .feature-box{
        width:120px;
        height: 120px;
    }
    .new-arrival strong,
    .feature-heading strong{
        font-size: 1.2rem;
    }
    .new-arrival p,
    .feature-heading p{
        font-size: 0.8rem;
        text-align: center;
    }
    .sale-box{
        width:100%;
        height: 180px;
    }
    .sale{
        width: 100%;
    }
    .services{
        width:100%;
    }
    .services-box{
        width:100%;
    }
    .copyright{
        margin: 20px 0px;
        text-align: center;
    }
    .subscribe{
        width:100%;
    }
    .subscribe form{
        flex-wrap: nowrap;
        display: flex;
        width:100%;
    }
    .subscribe input{
        width:100%;
        flex-grow: 1;
    }
    .login-form,
    .sign-up-form{
        width:90%;
    }
}



:root{
    --blackRussian: #1f1f26;
    --greyWhite: #f9f9f9;
    --pacificBlue: #1ca9c9;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.6;
}


/* Utility Classes  and stylings */
img{
    width: 100%;
    display: block;
}
.container{
    padding: 5rem 1rem;
}
.text{
    padding: 10px 0;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.7;
}
.btn{
    margin: 25px 0;
    text-transform: uppercase;
    background: var(--blackRussian);
    color: #fff;
    border: 1.5px solid var(--blackRussian);
    font-size: 14px;
    padding: 12px 26px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    color: var(--pacificBlue);
}

/* header */
.header{
    min-height: 100vh;
    background: var(--blackRussian);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.head-top{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    padding: 18px 0;
}
.head-body{
    flex: 1;
    background: var(--green);
}
.brand-name{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.4s ease;
}
.brand-name span{
    background: #fff;
    color: var(--blackRussian);
    padding: 5px 10px;
    transition: background 0.4s ease;
}
.brand-name:hover{
    color: var(--pacificBlue);
}
.brand-name:hover span{
    background: var(--pacificBlue);
}
.head-icon{
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.4s linear;
    font-size: 20px;
}
.head-icon:hover{
    color: var(--pacificBlue);
}
.head-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dedee4;
    background-image: linear-gradient(45deg, #dedee4 0%, #f9f9f9 100%);
}
.head-body > div{
    margin: 16px;
}
.head-body-content{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.head-body-img img{
    width: 60%;
    margin: 0 auto;
}
.head-title{
    font-size: 42px;
    text-transform: capitalize;
    line-height: 1.5;
    padding: 10px 0;
    font-family: 'Fira Sans', sans-serif;
    word-spacing: 7px;
}


/* title */
.title{
    margin: 30px 0;
}
.title h4{
    text-transform: uppercase;
}
.title h2{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    padding: 5px 0;
}
/*********/

/* trend */
.trend-item{
    background: var(--greyWhite);
    margin: 40px 0;
    padding: 30px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}
.trend-item:hover{
    -webkit-box-shadow: 0px 9px 10px -10px rgba(208, 208, 208, 1);
    -moz-box-shadow: 0px 9px 10px -10px rgba(208, 208, 208, 1);
    box-shadow: 0px 9px 10px -10px rgba(208, 208, 208, 1);
}
.trend-item:nth-child(3) img{
    width: 50%;
    margin: 0 auto;
}
.trend-item-content{
    padding: 16px 0;
    line-height: 1.9;
}
.trend-item-content h4:first-of-type{
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    opacity: 0.8;
}
.trend-item-content h4:last-of-type{
    font-weight: 600;
    font-size: 20px;
}
.chevron-icon{
    background: var(--blackRussian);
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
}
.chevron-icon:hover{
    background: var(--pacificBlue);
}


/* featured */
.underline{
    height: 5px;
    width: 80%;
    background: var(--greyWhite);
    margin: 0 auto;
    border-radius: 15px;
}
.featured-btns button:last-child{
    background: white;
    color: var(--blackRussian);
    margin-left: 10px;
}
.featured-btns button:last-child:hover{
    color: var(--pacificBlue);
    border-color: var(--pacificBlue);
}
.featured-item > div{
    padding: 24px;
}
.featured-item .item-price{
    font-weight: 700;
    font-size: 20px;
}
.featured-item{
    margin-bottom: 36px;
}
.featured-item:nth-child(even){
    background: var(--greyWhite);
}
.featured-item:last-child{
    margin-bottom: 0;
}

/* blog */

.blog-item{
    background: var(--greyWhite);
    margin: 30px 0;
}
.blog-item:last-of-type{
    margin-bottom: 0;
}
.blog-item-img{
    overflow: hidden;
}
.blog-item-img img{
    transition: transform 0.4s ease-in-out;
}
.blog-item-img:hover img{
    transform: scale(1.1);
}
.blog-item-content{
    padding: 28px;
}
.blog-item-content a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    display: block;
    padding: 6px 0;
    color: var(--blackRussian);
}


/* newsletter */
.newsletter .container{
    padding-top: 0;
}
.newsletter-content{
    background: var(--blackRussian);
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.newsletter .title{
    text-align: center;
}
.form-group{
    margin: 30px 0;
}
.form-control, .subscribe-btn{
    font-size: 18px;
    padding: 7px 10px;
    border: none;
    display: block;
    outline: 0;
}
.form-control{
    color: var(--blackRussian);
    font-weight: 400;
    padding: 16px 28px;
    border-radius: 50px;
    width: 100%;
}
.subscribe-btn{
    background: var(--blackRussian);
    color: #fff;
    border: 1.5px solid var(--greyWhite);
    display: block;
    padding: 10px 28px;
    margin: 22px auto;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.subscribe-btn:hover{
    color: var(--pacificBlue);
    border-color: var(--pacificBlue);
}
.circle-box{
    border: 4px solid #fff;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
}
.circle-box.circle-1{
    top: -150px;
    left: -150px;
}
.circle-box.circle-2{
    bottom: -150px;
    right: -150px;
}


/* Media Queries */
@media screen and (min-width: 768px){

    .trend-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }
    .trend-item{
        margin: 0;
    }
    .featured-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .featured-item:nth-child(even) .featured-item-img{
        order: 2;
    }
    .blog-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 992px){

    .container{
        padding: 5rem 10rem;
    }
    .head-body-content{
        flex: 1;
        height: auto;
        align-items: flex-start;
        text-align: left;
    }
    .head-body-img{
        flex: 1;
    }
    .head-body-img img{
        width: 100%;
    }
    .blog-grid{
        grid-gap: 32px;
    }
    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1200px){

    .trend-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .featured-item{
        grid-gap: 20px;
    }
}

@media screen and (max-width: 400px){
    .head-top{
        flex-direction: column;
    }
    .head-icon:first-child{
        margin-left: 0;
    }
    .brand-name{
        margin-bottom: 20px;
    }
    .head-body-content h1{
        font-size: 30px;
    }
    .head-body-content p{
        display: none;
    }
    .head-body.container{
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
    .featured-btns{
        display: flex;
        flex-direction: column;
    }
    .featured-btns button{
        width: 100%;
        margin: 8px 0!important;
    }
    .form-control, .subscribe-btn{
        font-size: 16px;
    }
    .form-control{
        width: 255px;
    }
    .circle-box{
        height: 150px;
        width: 150px;
    }
    .circle-box.circle-1{
        top: -75px;
        left: -75px;
    }
    .circle-box.circle-2{
        bottom: -75px;
        right: -75px;
    }
}